[user]
  name = Andrey Voronkov
  email = voronkovaa@gmail.com 

[push]
  default = simple
[alias]
  plog = log --pretty=format:'%Cred%h%Creset - %C(bold blue)<%an>%Creset%C(bold yellow)%d%Creset %s %Cgreen(%cr)' --abbrev-commit
