[main]
Quit=f10;q
Find=alt-f7;ctrl-f;
ShowHidden=alt-dot;.
Copy=f5;c
Move=f6;m
Delete=f8;d
Edit=f4;i

[panel]
Up=up;k
Down=down;j
Enter=right;l;o;enter
CdParent=left;h;x
PageUp=pgup;ctrl-u
PageDown=pgdn;ctrl-d
Mark=v
HistoryPrev=ctrl-o
Search=ctrl-s;alt-s;/
